<% include ../partials/header %>
  <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
    <div class="content-header-left col-md-9 col-12 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h3 class="content-header-title float-left mb-0">Course</h3>
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="<%= process.env.MIPIE_BACKEND_URL %>/admin">Home</a>
              </li>
              <% if (coursedata) { %>
              <li class="breadcrumb-item active">Update Course
              </li>
              <% } else { %>
                <li class="breadcrumb-item active">Add Course
                </li>

              <% } %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <% include ../partials/flash %>
      <section class="list-view">
        <div class="row">
          <div class="col-6 equal-height-2">
            <div class="card">
              <div class="card-header border border-top-0 border-left-0 border-right-0">
                <% if (coursedata) { %>
                  <h4 class="card-title pb-1">Update Course</h4>
                  <% } else { %>
                    <h4 class="card-title pb-1">Add Course</h4>
                    <% } %>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-horizontal" action="" method="post">
                    <div class="row">
                     
                         <!-- else part  -->
                         <% if (!course) { %>
                          <div class="col-xl-4 mb-1">
                            <label>Select Education
                              <span class="asterisk">*</span></label>
                              <select style="cursor: pointer;" class="form-control"
                              name="_qualification" required>
                              <option>Select Option</option>

                              <% qualifications.forEach((i)=> { %>
                                <option value="<%= i._id %>" class="text-capitalize">
                                  <%= i.name %>
                                </option>
                                <% }); %>
                               
                            </select>
                        </div>
                        <div class="col-xl-4 mb-1">
                          <label> Course</label>
                          <input type="type" class="form-control" minlength="1" maxlength="50" required
                             name="name" placeholder="Course">

                            
                        </div>
                        <% }else{ %> 

                          <div class="col-xl-4 mb-1">
                            <label>Select Education
                              <span class="asterisk">*</span></label>
                              <select style="cursor: pointer;" class="form-control"
                              name="_qualification" required>
                              <option>Select Option</option>
                              <% qualifications.forEach((s)=> { %> <% if (coursedata &&
                                coursedata. _qualification._id.toString()===s._id.toString()) { %>
                                <option value="<%= s._id %>" class="text-capitalize"
                                  selected disabled>
                                  <%= s.name %>
                                </option>
                                <% } else { %>
                                  <option value="<%= s._id %>"
                                    class="text-capitalize">
                                    <%= s.name %>
                                  </option>
                                  <% } %>
                                    <% }) %>

                              
                               
                            </select>
                        </div>
                        <div class="col-xl-4 mb-1">
                          <label> Course</label>
                          <input value="<%= coursedata.name %>" type="type" class="form-control" minlength="1" maxlength="50" required
                             name="name" placeholder="Course">

                            
                        </div>
                          <%}%>
                        <div class="col-xl-4 mb-1">
                          <br>
                          <% if (coursedata) { %>
                            <button type="submit"
                              class="btn btn-success font-small-3 <% if(view==true ) {%> disabled <% } %>"
                              <% if(view==true ) {%> disabled <% } %>>
                                Update
                            </button>
                            <% } else { %>
                              <button type="submit" 
                                class="btn btn-success font-small-3 <% if(view==true ) {%> disabled <% } %>"
                                <% if(view==true ) {%> disabled <% } %>>
                                  Add
                              </button>
                              <% } %>
                         
                             
                        </div>
                    </div>
                  </form>
                                
              
                                    
               
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 rounded equal-height-2 coloumn-2">
            <div class="card">
              <div class="row p-1">
                <div class="col-xl-6">
                  <div class="row">
                    <div class="card-header">
                      <h4 class="card-title">All Courses</h4>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-xl-6">
             <div class="row">
                 <div class="col-xl-12 text-right">
                     <a href="" class="btn btn-outline-success">Import</a>
                     <a href="" class="btn btn-outline-primary">Export</a>
                   </div>
             </div>
         </div> -->
              </div>
              <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-hover-animation mb-0 table-hover">
                      <thead>
                        <tr>
                          <th>Education</th>
                          <th>Course</th>
                          <th>Status</th>
                         
										      <th>Action</th>
										     
                        </tr>
                      </thead>
                      <tbody>
                        <% if (course.length > 0) { %>
                          <% course.forEach((edu, index) => { %>
                            <tr>
                              <td><%= edu._qualification?.name || 'N/A' %></td>
                        <td><%= edu.name %></td>
                              <td>
                                <div class="custom-control custom-switch custom-control-inline">
                                  <input type="checkbox"
                                    onclick="myOnOffFunc('<%= edu._id %>', '<%= edu.status %>', 'QualificationCourse');"
                                    class="custom-control-input" 
                                    id="customSwitch<%= index %>" 
                                    <%= edu.status ? 'checked' : '' %>>
                                  <label class="custom-control-label" for="customSwitch<%= index %>"></label>
                                </div>
                              </td>
                        
                              <td valign="middle">
                                <a href="<%= process.env.MIPIE_BACKEND_URL %>/admin/qualification/editCourse/<%= edu._id %>">
                                  <i class="feather icon-edit fa-lg primary"></i>
                                </a>
                              </td>
                            </tr>
                          <% }) %>
                        <% } else { %>
                          <tr>
                            <td colspan="3" class="text-center">No education data found</td>
                          </tr>
                        <% } %>
                       
                      </tbody>
                      
                    </table>
                  
                      <!-- <p class="text-center mt-3">No result found</p> -->
                     
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% include ../partials/footer %>
        <script>
         
          function myOnOffFunc(id, status, model) { // eslint-disable-line
            let myStatus = true;
            if (status === true || status === 'true') {
              myStatus = false;
            }
            $.ajax({
              type: 'POST',
              url: '<%= process.env.MIPIE_BACKEND_URL %>/admin/changestatus',
              data: {
                id,
                status: myStatus,
                model,
              },
              success: () => location.reload(),
            });
          }
        </script>
        <script>
          !function () { "use strict"; Array.isArray || (Array.isArray = function (r) { return "[object Array]" === Object.prototype.toString.call(r) }); var r = { get: function () { var r = window.location.search, t = {}; return "" === r ? t : (r = r.slice(1), r = r.split("&"), r.map(function (r) { var i, o; r = r.split("="), i = r[0], o = r[1], t[i] ? (Array.isArray(t[i]) || (t[i] = [t[i]]), t[i].push(o)) : t[i] = o }), t) } }; if (window) { if (window.qs) throw new Error("Error bootstrapping qs: window.qs already set."); window.qs = r } }();
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const pageAnchors = document.querySelectorAll('a.pageAnchor');
            const { origin, pathname, search } = window.location;
            const obj = window.qs.get(search);
            const keyArr = Object.keys(obj).filter(x => !!obj[x]);
            let url = `${origin}${pathname}?`;
            keyArr.forEach((x) => {
              if (x !== 'page') {
                url += `${x}=${obj[x]}&`;
              }
            });
            pageAnchors.forEach((el) => {
              const n = el.getAttribute('href');
              el.setAttribute('href', `${url}page=${n}`);
            });
          });

          function showForm() {
            var x = document.getElementById("hideShowCourse");
            if (x.style.display === "block") {
              x.style.display = "none";
            } else {
              x.style.display = "block";
            }
		      }

        </script>
        </body>
        </html>