<% include ../partials/header %>
  <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
    <div class="content-header-left col-md-9 col-12 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h3 class="content-header-title float-left mb-0">Add Center</h3>
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="<%= process.env.MIPIE_BACKEND_URL %>/admin">Home</a>
              </li>
              <li class="breadcrumb-item active">Add Center
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <% include ../partials/flash %>
      <section class="list-view">
        <div class="row">
          <div class="col-6 equal-height-2">
            <div class="card">
              <div class="card-header border border-top-0 border-left-0 border-right-0">
              
                  <h4 class="card-title pb-1">Center Name</h4>
                 
                    <!-- <h4 class="card-title pb-1">Add Course</h4> -->
                   
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-horizontal" method="post">
                    <div class="row">
                        <!-- <div class="col-xl-4 mb-1">
                          <label>Center  Name</label>
                          <input type="type" class="form-control" minlength="1" maxlength="50" required
                            value="" name="name" placeholder="Course name">
                        </div> -->
                       
                          <div class="col-xl-4 mb-1">
                            <label>Enter Center Name
                              <span class="asterisk">*</span></label>
                              <input class="form-control"
                              name="name" required>
                              
                              </input>
                        </div>
                         
                        <div class="col-xl-4 mb-1">
                          <br>
                            <!-- <button type="submit" class="btn btn-success font-small-3 ">
                             Update</button> -->
                            
                              <button type="submit" class="btn btn-success font-small-3 "
                               >Add</button>
                            
                        </div>
                    </div>
                  </form>
                 
                   
                
                  <form id="hideShowCourse" action="" method="post">
                    <div class="row">
                      
                        <!-- <div class="col-xl-4 mb-1">
                          <label>Course Name <span class="mandatory">*</span></label>
                          <input type="type" class="form-control" minlength="1" maxlength="50" required
                             name="name" placeholder="Course name">
                        </div> -->
                        <!-- <div class="col-xl-4 mb-1">
                          <br>
                          <button type="submit" class="btn btn-success font-small-3"
                          >Add</button>
                        </div> -->
                        
                      </div>                     
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 rounded equal-height-2 coloumn-2">
            <div class="card">
              <div class="row p-1">
                <div class="col-xl-6">
                  <div class="row">
                    <div class="card-header">
                      <h4 class="card-title">All Centers</h4>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-xl-6">
             <div class="row">
                 <div class="col-xl-12 text-right">
                     <a href="" class="btn btn-outline-success">Import</a>
                     <a href="" class="btn btn-outline-primary">Export</a>
                   </div>
             </div>
         </div> -->
              </div>
              <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-hover-animation mb-0 table-hover">
                      <thead>
                        <tr>
                          <th>Center Name</th>
                          <th>Status</th>
                          
										    
										      <th>Action</th>
										    
                        </tr>
                      </thead>
                      <tbody>
                        <% center.forEach((l, i)=> { %>
                            <tr>
                              <td>
                                <%= l.name %>
                              </td>
                              <td>
                                <div class="custom-control custom-switch custom-control-inline">
                                  <input type="checkbox"
                                  onclick="myOnOffFunc('<%= l._id %>','<%= l.status %>');"
                                  class="custom-control-input" id="customSwitch"  <% if(l.status==true ) {%> checked <% } %>>
                                <label class="custom-control-label" for="customSwitch">
                                </label>
                              </div>
                              </td>
                              <td valign="middle">
                               
                                <a>
                                  <i class="feather icon-edit fa-lg primary"></i>
                                </a>
                              
                              </td>
                            
                                
                                <!-- <td valign="middle">
                                  
                                  <a href="/admin">
                                    <i class="feather icon-edit fa-lg primary"></i>
                                  </a>
                               
                                </td> -->
                               
  
                            </tr>
                            <% }) %>
                      </tbody>
                    </table>
                   
                      <p class="text-center mt-3">No result found</p>
                    
                       
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% include ../partials/footer %>
        <script>
          function myOnOffFunc(id, status, model) { // eslint-disable-line
            let myStatus = true;
            if (status === true || status === 'true') {
              myStatus = false;
            }
            $.ajax({
              type: 'POST',
              url: '<%= process.env.MIPIE_BACKEND_URL %>/admin/changestatus',
              data: {
                id,
                status: myStatus,
                model,
              },
              success: () => location.reload(),
            });
          }
        </script>
        <script>
          !function () { "use strict"; Array.isArray || (Array.isArray = function (r) { return "[object Array]" === Object.prototype.toString.call(r) }); var r = { get: function () { var r = window.location.search, t = {}; return "" === r ? t : (r = r.slice(1), r = r.split("&"), r.map(function (r) { var i, o; r = r.split("="), i = r[0], o = r[1], t[i] ? (Array.isArray(t[i]) || (t[i] = [t[i]]), t[i].push(o)) : t[i] = o }), t) } }; if (window) { if (window.qs) throw new Error("Error bootstrapping qs: window.qs already set."); window.qs = r } }();
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const pageAnchors = document.querySelectorAll('a.pageAnchor');
            const { origin, pathname, search } = window.location;
            const obj = window.qs.get(search);
            const keyArr = Object.keys(obj).filter(x => !!obj[x]);
            let url = `${origin}${pathname}?`;
            keyArr.forEach((x) => {
              if (x !== 'page') {
                url += `${x}=${obj[x]}&`;
              }
            });
            pageAnchors.forEach((el) => {
              const n = el.getAttribute('href');
              el.setAttribute('href', `${url}page=${n}`);
            });
          });

          function showForm() {
            var x = document.getElementById("hideShowCourse");
            if (x.style.display === "block") {
              x.style.display = "none";
            } else {
              x.style.display = "block";
            }
		      }

        </script>
        </body>
        </html>